<section class="no-padding" id="portfolio">
  <div class="container-fluid">
      <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
              <a href="/chillcoding/app/bachamada" class="portfolio-box" title="Bachamada – Healthy Heart Rate">
                  <img src="/chillcoding/assets/img/portfolio/bachamada.jpg" class="img-responsive" alt="Bachamada – Healthy Heart Rate">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Android
                          </div>
                          <div class="project-name">
                              Healthy Heart Rate
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a href="http://www.maldon.io" class="portfolio-box" title="Maldòn – Watch your songs">
                  <img src="/chillcoding/assets/img/portfolio/maldon.jpg" class="img-responsive" alt="Maldòn – Watch your songs">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Web
                          </div>
                          <div class="project-name">
                              Maldòn
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a href="http://creativeandlive.com" class="portfolio-box" title="Creative&Live – Web magazine for creative people">
                  <img src="/chillcoding/assets/img/portfolio/creativeandlive.jpg" class="img-responsive" alt="Creative&Live – Web magazine for creative people">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Web
                          </div>
                          <div class="project-name">
                              Creative&Live
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          {% comment %}
          <div class="col-lg-4 col-sm-6">
              <a href="#" class="portfolio-box">
                  <img src="/chillcoding/assets/img/portfolio/4.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Web & Android
                          </div>
                          <div class="project-name">
                              GeoSport
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a href="#" class="portfolio-box">
                  <img src="/chillcoding/assets/img/portfolio/creativeandlive.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Web
                          </div>
                          <div class="project-name">
                              Creative and Live
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a href="#" class="portfolio-box">
                  <img src="/chillcoding/assets/img/portfolio/6.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Web
                          </div>
                          <div class="project-name">
                              Data Visu
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          {% endcomment %}
      </div>
  </div>
</section>
