<!-- jQuery -->
<script src="/chillcoding/assets/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/chillcoding/assets/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/chillcoding/assets/js/jquery.easing.min.js"></script>
<script src="/chillcoding/assets/js/jquery.fittext.js"></script>
<script src="/chillcoding/assets/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/chillcoding/assets/js/creative.js"></script>
<script id="dsq-count-scr" src="https://chillcoding.disqus.com/count.js" async></script>
